<div class = "row">
  <div class = "col-md-4">
  <div class="image">
      <%= image_tag("Untitled-1(1).png", alt: 'Pictures', class: "sign_up_img") %>
 </div>
  </div>
  <div class = "col-md-4 login">
<div class="post_box text-center">
   <h2 id="heading">Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.email_field :email, autofocus: true,placeholder: 'Email' %>
    </div><br />

    <div class="field">
      <%= f.password_field :password, autocomplete: "off", placeholder: 'Password' %>
    </div><br />

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>

    <div class="actions btn btn-block">
      <%= f.submit "Log in",class: 'btn btn-success' %>
      </div>
      <%= render "devise/shared/links" %>
    
  </div>
  </div>

  <% end %>
  <div class = "col-md-4"></div>
  
</div>
