<!DOCTYPE html>
<html>
  <head>
    <title>Share Your Photos Online-Instapost</title>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href='https://fonts.googleapis.com/css?family=Satisfy|Kushan+Script' rel='stylesheet' type='text/css'>
  </head>

<body>
  
<nav>
  <div class="container-fluid">
    <div class="row">
      <div class = "col-lg-6 col-lg-offset-3">
        <div class="row">
          <div class="nav_wrapper">
            <div class="col-xs-4">
              <span class="pull-right brand"><i class="fa fa-instagram" aria-hidden="true"></i> | <%= link_to 'Instapost', root_path %></span>
            </div>
            <div class="col-xs-8">
    	       <% if user_signed_in? %>
              <span class="nav_links pull-right"><%= link_to '', new_post_path, class: 'glyphicon glyphicon-edit fa-2x' %></span>
              <span class="nav_links pull-right"><%= link_to '', edit_user_registration_path, class: 'glyphicon glyphicon-cog fa-2x'%></span>
              <span class="nav_links pull-right"><%= link_to '', destroy_user_session_path, class: 'glyphicon glyphicon-log-out fa-2x', method: :delete %></span>
              <% else %>
              <span class="nav_links pull-right"><%= link_to 'Sign up', new_user_registration_path %></span>
              <span class="nav_links pull-right"><%= link_to 'Log in', new_user_session_path %></span>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</nav>  
    <div class = "container-fluid">
        <%= yield %>
    </div>
</body>
</html>
